* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: $fontSize;
    color: $textColor;
    background-color: $bodyBgColor;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #2196f3;
}

.layout-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


.p-calendar.p-calendar-w-btn .p-inputtext {
    width: 75%;
}


.p-datepicker .p-datepicker-header .p-datepicker-title select {
    margin-top: -0.35rem;
    margin-bottom: 0;
    padding: .5rem;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 1.2rem;
    transition: border-color 0.2s, box-shadow 0.2s
}

.p-end {
    left: 1px !important;
    top: -70px !important;
}

.p-start {
    left: -1px !important;
    top: -70px !important;
}

.p-datepicker table {
    padding: 2px !important;
    font-size: 12px !important;
}

.p-datepicker .p-datepicker-header {
    font-size: 12px !important;
    padding: 2px !important;
}

.p-datepicker table td {
    font-size: 12px !important;
    padding: 2px !important;
}

.p-datepicker table td > span {
    width: 1rem !important;
    height: 1rem !important;
}

.p-listbox-item {
    border-bottom: 1px solid #c1c1c1 !important;
}

.list-rooms {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1px;
    justify-content: space-between;
    border-bottom: 1px solid #c1c1c1;
}